@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Spectral", serif;
}

.dropdown-RealOrange {
  background-color: #f37221;
}

nav div {
  background: #111111;
}

small {
  font-size: 0.6rem;
  padding: 5px 5px;
}
small:hover {
  background-color: #f37221;
  color: #111111;
  padding: 10px 5px;
}

.navText {
  height: 20px;
  align-self: center;
  margin-right: 20px;
}

.navButton {
  padding: 5px 8px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #111111;
  color: #f37221;
  outline: 1px solid #f37221;
}
.navButton:hover {
  outline: 1px solid #111111;
  color: #111111;
  background-color: #f37221;
}

.mainButton {
  padding: 5px 8px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f37221;
  color: #111111;
  outline: 1px solid #111111;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 1.4rem;
}
.mainButton:hover {
  outline: 1px solid #f37221;
  color: #f37221;
  background-color: #111111;
}

#main {
  margin: 5% 15% !important;
}
#main p {
  margin: 2% 0 !important;
}
#main li {
  margin: 2% 0 !important;
}

h1,
h2 {
  color: #f37221 !important;
}

h3 {
  color: rgb(165, 15, 15) !important;
  font-size: 1.5rem;
}

h4,
h5,
p {
  color: #111111;
}

.navFontCorrector {
  text-align: center;
}
@media screen and (min-width: 700px) and (max-width: 1150px) {
  .navFontCorrector {
    font-size: 0.8rem !important;
    text-align: center;
  }
}
@media screen and (min-width: 700px) and (max-width: 1050px) {
  .navFontCorrector {
    font-size: 0.6rem !important;
    text-align: center;
  }
}

@media screen and (min-width: 2050px) {
  .spacerNav {
    width: 50% !important;
  }
}
@media screen and (min-width: 1750px) and (max-width: 2050px) {
  .spacerNav {
    width: 40% !important;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1750px) {
  .spacerNav {
    width: 30% !important;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1550px) {
  .spacerNav {
    width: 20% !important;
  }
}
@media screen and (max-width: 1350px) {
  .spacerNav {
    width: 5% !important;
  }
}
@media screen and (max-width: 1150px) {
  .spacerNav {
    width: 0% !important;
  }
}

@media screen and (min-width: 1950px) {
  .spacerFooter {
    width: 50% !important;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1950px) {
  .spacerFooter {
    width: 40% !important;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1450px) {
  .spacerFooter {
    width: 20% !important;
  }
}

.light {
  color: #111111;
  background-color: whitesmoke;
}
.light h1,
.light h2,
.light h3 {
  color: #f37221;
}
.light p,
.light h4,
.light h5,
.light ul {
  color: #111111;
}

.dark {
  color: #f37221;
  background-color: #111111;
}
.dark p,
.dark h4,
.dark h5,
.dark ul {
  color: whitesmoke;
}
.dark h1,
.dark h2,
.dark h3 {
  color: whitesmoke;
}/*# sourceMappingURL=app-D5.css.map */